<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <pluginGroups>
  </pluginGroups>
  <proxies>
  </proxies>
  <servers>
    <server>
      <id>releases.repository</id>
      <username>$ARTIFACTORY_USERNAME</username>
      <password>$ARTIFACTORY_PASSWORD</password>
    </server>
    <server>
      <id>release-candidate.repository</id>
      <username>$ARTIFACTORY_USERNAME</username>
      <password>$ARTIFACTORY_PASSWORD</password>
    </server>
    <server>
      <id>smarsh-artifactory</id>
      <username>$ARTIFACTORY_USERNAME</username>
      <password>$ARTIFACTORY_PASSWORD</password>
    </server>
  </servers>
  <mirrors>
  </mirrors>
  <profiles>
		<profile><!-- Smarsh BEGIN -->
			<id>release</id>
			<repositories>
				<repository>
					<id>releases.repository</id>
					<name>Smarsh Releases Artifact Virtual Repo</name>
					<url>https://smarsh.jfrog.io/smarsh/libs-release</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
        <repository>
          <id>smarsh-artifactory</id>
          <name>Smarsh Snapshot Artifact Virtual Repo</name>
          <url>https://smarsh.jfrog.io/smarsh/libs-snapshot</url>
            <releases>
              <enabled>false</enabled>
              <updatePolicy>always</updatePolicy>
            </releases>
            <snapshots>
              <enabled>true</enabled>
            </snapshots>
        </repository>
			</repositories>

			<pluginRepositories>
				<pluginRepository>
					<id>smarsh-artifactory</id>
					<name>Smarsh Releases Artifact Virtual Repo</name>
					<url>https://smarsh.jfrog.io/smarsh/libs-release</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>

		</profile>

		<profile>
			<id>rc-release</id>
			<repositories>
				<repository>
					<id>release-candidate.repository</id>
					<name>Smarsh Release-Candidate Artifact Virtual Repo</name>
					<url>https://smarsh.jfrog.io/smarsh/libs-rc</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
        <repository>
          <id>smarsh-artifactory</id>
          <name>Smarsh Snapshot Artifact Virtual Repo</name>
          <url>https://smarsh.jfrog.io/smarsh/libs-snapshot</url>
            <releases>
              <enabled>false</enabled>
              <updatePolicy>always</updatePolicy>
            </releases>
            <snapshots>
              <enabled>true</enabled>
            </snapshots>
        </repository>
			</repositories>

			<pluginRepositories>
				<pluginRepository>
					<id>smarsh-artifactory</id>
					<name>Smarsh Releases Artifact Virtual Repo</name>
					<url>https://smarsh.jfrog.io/smarsh/libs-release</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>

		</profile>
		<!-- Smarsh END -->
  </profiles>
</settings>
